{% extends "client/partial/base.html" %}
{% load i18n static %}
{% block style %}
  
{% endblock %}
{% block content %}
<section class="mt-0">
    <div class="row">
        <img src="{% static 'images/about.jpg' %}" height="100%" width="100%">
       
    </div>
</section>
<section class="mt-0 ms-5">
    <div class="container">
        <p class="mt-5 mb-5">
            Founded in 1995, Product has flourished since then. With almost two centuries of experience and traditional
            knowledge passed on for five generations, we have put in place unique milling and manufacturing processes that
            ensures best quality and nutrient rich rice grains. From procurement to packaging our time tested
            methodologies and quality control measures have not only earned us a niche in the market but also a pleasant
            spot in the hearts of our customers.
        </p>
        <p class="mt-5 mb-5">
            The perfect combination of a dedicated skilled workforce with advanced milling and manufacturing technology
            continues to make our journey successful and remarkable. From grandma’s special khichdi to the chef’s signature
            biriyani, from the all-perfect mom’s delicious kheer to the never-perfect bachelor’s one pot pulao, Product rice is
            a household name for every occasion.
        </p>
        <p class="mt-5 mb-5">
            We sincerely owe our gratitude to every customer for trusting us and owe it equally to our partners and other
            stakeholders’ alike. Above all, we see ourselves as a committed member of the society contributing to a larger
            cause of public wellbeing and social welfare and fulfil our corporate social responsibilities diligently as part of our
            mission.
        </p>
    <hr class="mt-5 mb-5">
    </div>
</section>
<section class="mt-5">
    <div class ="container d-flex justify-content-center align-items-center">
        <div>
            <h2 class="text-center">Great Meal with</h2>
            <h1 class="text-warning text-center">Every Serving!</h1>
            <hr width="60%" class="ms-5 mb-5">
            
        </div>
    </div>
    <div class ="container d-flex justify-content-center align-items-center">
         <div>
            <h1 class="mt-5 text-warning text-center">The Product Difference</h1>
            <p class="text-center mt-3">We are motivated to serve best of rice cereals throughout the year keeping in mind the<br>
                freshness of quality grains.
            </p>
        </div>
    </div>
</section>
<section class="mt-5 mb-5">
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-4 text-center ">
                <div class="card border-0 bg-dark" style="width: 25rem;height:30rem">	
                    <div class="card-body mt-3">
                        <h1 class="card-title text-white mt-5">Natures best</h1>
                        <p class="card-text text-center mt-5 text-white">Procured from the fertile<br>
                            lands of India, Product<br>
                            rice ensures healthy diet<br>
                            and delicious taste.
                        </p>
                    </div>
                </div>	
            </div>
             <div class="col-sm-4 text-center">
                <div class="card bg-success border-0" style="width: 25rem;height:30rem">	
                    <div class="card-body mt-3">
                        
                        <h2 class="card-title text-white mt-5">Quality<br>
                                        Assurance</h2>
                        <p class="card-text text-center mt-5 text-white">Our core strength include<br>
                            innovation, extraordinary<br>
                            workforce skills and<br>
                            technology infused<br>
                            infrastructure.
                        </p>
                    </div>
                </div>	
            </div>
             <div class="col-sm-4 text-center">
                <div class="card bg-danger border-0" style="width: 25rem;height:30rem">	
                    <div class="card-body mt-3">
                        <h2 class="card-title text-white mt-5">180 years<br>
                            experience</h2>
                        <p class="card-text text-center mt-5 text-white">The increasing customer<br>
                            loyalty towards our brand<br>
                            name has positioned<br>
                            Product as a leader of all<br>
                            rice brands.
                        </p>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>


{% endblock %}