{% extends 'admindashboard/partial/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}
<section class="mt-5 mb-5">
    <div class="container justify-content-center align-items-center">

        <h3 class="text-primary mt-2 mb-5"><b>Manage Product List</b> <a class="btn btn-outline-primary float-end" href="{% url 'admindashboard:product_create' %}">Create Product </a></h3>
        
        {% if products %}
        {% include 'admindashboard/paginations/pagination.html' %}
        <table class="table mt-5">
            <thead>
                <tr class="text-primary"><b>
                <th scope="col">S.No</th>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stocks</th>
                <th scope="col">Action</th>
                </b>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                <tr>
                <th style="vertical-align: middle;" scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                    <img height="200" width="300" src="{% if item.image %}{{ item.image}}{% else %}{{item.image_url}}{% endif %}">
                    </a>
                </td>
                <td style="vertical-align: middle;">{{item.name}} </td>
                <td style="vertical-align: middle;">{{item.price}}</td>
                <td style="vertical-align: middle;">{{item.stock}}</td>
              
                <td class="num" style="vertical-align: middle;"><a class="float-start btn btn-outline-danger"  href="{% url 'admindashboard:product_delete' slug=item.slug %}">Delete</a></td>
               
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'admindashboard/paginations/pagination.html' %}
        {% else %}
        <h5 class="mt-5">No Users Found.</h5>
        {% endif %}
    </div>
</section>
{% endblock %}